asgiref==3.5.2
black==23.3.0
channels==4.0.0
channels-redis==4.0.0
daphne==4.0.0
Django==4.0.6
django-stubs==4.2.1
environs==11.0.0
flake8==6.0.0
isort==5.10.1
mypy==1.4.1
sentry-sdk==2.11.0
sqlparse==0.4.3
